#dropbox{
	background:url('../images/background_tile_3.jpg');
	border-radius:3px;
	position: relative;
	margin:20px auto 20px auto;
	overflow: hidden;
	padding: 50px;
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}

#dropbox .message{
	font-size: 11px;
  text-align: center;
  display: block;
	color:#ccc;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}

#dropbox .preview{
	width:210px;
	float:left;
	position: relative;
	text-align: center;
  height: 100px;
  border: 1px solid #ccc;
	border-radius: 5px;
}

#dropbox .preview images{
	max-width: 240px;
	max-height:180px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
  height: 100%;
  width: 100%;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../images/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}

#dropbox .preview.done #spinner {
  display: none;
}

#spinner {
  margin-top: 44px;
}
